/* Varibles */

:root {
  --black-text: #111;
  --white-text: #fff;
  --orange: #fd9222;
  --btn-hover: #fcf1e0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1168px;
  padding: 0 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--black-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.54px;
}

.logo-span {
  font-style: italic;
  margin-right: 3px;
}
.logo-span-choco {
  margin-right: 4px;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  gap: 24px;
  margin-right: 90px;
}

.nav-links {
  display: inline-block;
  color: var(--black-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.28px;
  padding: 32px 0;
}

.socials-list {
  display: flex;
  gap: 14px;
}

.section-hero {
  margin: 0 auto;
  background-color: rgba(17, 17, 17, 0.7);
  width: 1136px;
  border-radius: 30px;
  margin-bottom: 80px;
}
.hero-container {
  padding: 381px 40px 40px 40px;
}

.hero-title {
  color: var(--white-text);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21; /* 121.429% */
  letter-spacing: -0.84px;
  width: 484px;
  margin-bottom: 32px;
}
.hero-list {
  display: flex;
  gap: 14px;
}
.button-how {
  color: var(--white-text);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: transparent;
  min-width: 183px;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #fff;
  display: block;
}
.button-how:hover,
.button-how:focus {
  color: var(--orange);
}

.button-buy {
  color: var(--white-text);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: var(--orange);
  padding: 14px 40px;
  width: 144px;
  border-radius: 100px;
  border: none;
  display: block;
}
.button-buy:hover,
.button-buy:focus {
  color: var(--orange);
  background-color: var(--btn-hover);
}

.button-scroll {
  color: var(--white-text);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3; /* 128.571% */
  letter-spacing: -0.42px;
  background-color: transparent;
  display: block;
  margin-left: auto;
  border: none;
}

.button-scroll:hover,
.button-scroll:focus {
  color: var(--orange);
}

.btn-container {
  display: flex;
}

.section-benefits {
  background: #1e1823;
  padding: 50px 0;
}
.benefits-list {
  display: flex;
  gap: 88px;
}
.benefits-item {
  width: calc((100% - 176px) / 3);
}
.subtitle-benefits {
  color: var(--white, #fff);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  margin-bottom: 18px;
}
.benefits-description {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

.title-benefits {
  color: var(--black, #111);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.72px;
}

.subtitle-benefits {
  color: var(--white, #fff);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
}

.benefits-description {
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}

/* Секція 4. рецепт */

.list {
  margin: 0;
  padding: 0;
}
.recipe-h1 {
  display: flex;
  justify-content: center;
}
.recipe-div {
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 60px;
}
.recipe-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px;
  gap: 28px;
}
.section-recipe {
  padding-top: 60px;
}
.recipe-h1 {
  margin-bottom: 50px;
  color: var(--black, #111);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;

  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.recipe-photo {
  margin-right: 10px;
}
.recipe-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.recipe-h2 {
  color: var(--black, #111);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  width: 350px;
}
.recipe-h3 {
  color: var(--black, #111);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  list-style-type: disc;
  margin-bottom: 24px;
  margin-left: 15px;
  width: 436px;
}
